body {
  font-family: 'Didact Gothic', sans-serif;
  background-color: #607EAA;
  color: #F9F5EB;
}
h1 {
  font-family: 'Satisfy', cursive;
  margin-top: 0;
  font-size: 50px;
}

.round-img {
  border-radius: 50%;
}

.center {
  text-align: center;
}

.head-icon {
  height: 100px;
}


.short-p {
  font-size: 20px;
  color: #EAE3D2;
}

.bold {
  font-weight: bold;
  color: #1C3879;
}
